@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lobster:regular);

:root {
    --about-white: #f4f4f4;
    --about-grey: #e9e9e9;
    --about-hero-green: #33a26d;
    --about-section-bg: #4d9e85;
    --about-award-bg: rgb(43, 47, 49);
}

/* this will fix/disable the unintended
horizontal scrolling in the mobile view */
.main {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.about-hero {
    background-image: url('../img/about/sitting-table.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 70vh;
}

.about-hero-weare,
.about-hero-soulful,
.about-hero-subtitle {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    margin: 15px 0 15px 0;
}

.about-hero-weare {
    color: var(--about-white);
    font-size: 4rem;
    font-weight: 500;
}
.about-hero-soulful {
    color: var(--about-hero-green);
    font-size: 5.5rem;
    font-weight: 700;
    text-align: center;
}
.about-hero-subtitle {
    color: var(--about-white);
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: center;
}

.about-hero-btn-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-hero-btn {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 15px 20px;
    margin-right: 10px;
    border: 1px solid var(--about-white);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--about-white);
    cursor: pointer;
}
.about-hero-btn:hover {
    background-color: var(--about-white);
    color: var(--black);
    transition: 0.2s all;
}

.about-hero-btn:active {
    background-color: rgba(0, 0, 0, 0);
    color: var(--about-white);
}

.about-mission {
    background-color: var(--black);
    color: var(--about-white);
    padding: 30px 20px 30px 20px;
}

.about-mission-text {
    margin: 50px 0 50px 0;
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    text-align: center;
}

.about-section-header {
    background: linear-gradient(
        90deg,
        rgba(15, 136, 71, 0.77) 27.17%,
        rgba(40, 171, 139, 0.81) 53.32%,
        #308ba2 86.59%
    );

    color: var(--about-white);
    width: 100%;
}

.about-section-header h1 {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    margin: 50px 0 50px 0;
}

.about-section-header h1 {
    text-align: center;
}

.about-history-img {
    width: 100vw;
    height: auto;
    background-color: var(--about-award-bg);
}

.about-history-img img {
    width: 100%;
    height: auto;
}

.about-award-strip {
    background-color: var(--about-award-bg);
    color: white;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: auto;
}

.about-award-strip img {
    width: 150px;
    height: auto;
    margin: 10px 0;
}

.about-history-textarea {
    background-color: var(--black);
    color: var(--about-white);
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    padding: 8vh 5vw 8vh 5vw;
}

.about-history-textarea-leftcol {
    margin-right: 5vw;
}
.about-history-textarea-rightcol {
    margin-left: 5vw;
}

.about-history-textarea-leftcol,
.about-history-textarea-rightcol {
    text-align: justify;
    line-height: 150%;
}

.about-team {
    background-color: var(--black);
    color: white;
    display: flex;
    flex: 1 0 20%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
}
.about-team-profile {
    background-color: var(--about-grey);
    color: var(--black);
    margin: 20px;
    height: 400px;
    width: 300px;
}

.about-team-profile-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.about-team-profile-img:hover {
    cursor: pointer;
    filter: brightness(0.3);
}

.about-team-profile-img img {
    height: 300px;
    width: auto;
}

.about-team-profile-textarea {
    overflow: hidden;
}

.about-team-profile-textarea-name {
    margin: 15px 10px 5px 10px;
    color: var(--green1);
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.about-team-profile-textarea-title {
    margin: 5px 10px 0 10px;
}

.photos-single-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px 40px;
    background-color: var(--black);
}

.single-photo img {
    max-height: 250px;
    max-width: 80vw;
    width: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.single-photo img:hover {
    filter: brightness(0.3);
}

.prezi-slides {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.prezi-slides iframe {
    width: 100%;
    height: 450px;
}

.about-partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px 40px;
    background-color: white;
}

.about-partner-logo img {
    max-height: 150px;
    max-width: 28vw;
    width: auto;
    padding: 20px;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    .about-history-textarea {
        flex-direction: column;
    }

    .about-history-textarea-rightcol {
        margin-left: 0;
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .about-hero-weare {
        font-size: 3rem;
    }

    .about-hero-soulful {
        font-size: 4rem;
    }

    .about-section-header h1 {
        font-size: 2.5rem;
    }
}
