@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

.main,
.farms-sites,
.farms-training {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.farms-hero {
    background-image: url('../img/farms-hero.jpg');
    background-size: cover;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 70vh;
}

.farms-hero-tint {
    width: 100%;
    height: 100%;
    background-color: #130c0470;
    /* background: linear-gradient(
        180deg,
        rgba(207, 149, 78, 0) 0%,
        rgba(0, 0, 0, 0.3906) 56.25%,
        rgba(0, 0, 0, 0.62) 100%
    ); */
}

.farms-hero-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 19vw 0 19vw;
}

.farms-hero-text h1,
.farms-hero-text h3 {
    color: white;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serifsssssssssssssssss;
}

.farms-hero-text h1 {
    font-size: 3.8rem;
    font-weight: 800;
}
.farms-hero-text h3 {
    margin-top: 60px;
    font-size: 2rem;
    font-weight: 400;
}

.farms-banner {
    /* background: linear-gradient(
        90deg,
        rgba(15, 136, 71, 0.77) 27.17%,
        rgba(40, 171, 139, 0.9) 53.32%,
        #308ba2 86.59%
    ); */

    background: #d38312; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #a83279,
        #d38312
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #a83279,
        #d38312
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    padding: 20px 0;
}

.farms-banner h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 3rem;
}

.farms-sites {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #1e2628 !important;
    padding: 30px 0;
}

.sites-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    background-color: #1e2628;
    margin-right: 0 !important;
}

.glide__slides {
    text-align: center;
}

.glide__slides li img {
    height: 275px;
    max-width: 400px;
    width: auto;
    border: 5px solid #c07d3f;
    border-radius: 5px;
}

.farms-training {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #1e2628;
    padding: 30px 0;
}

.farms-events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #1e2628;
    padding: 30px 0;
}

#events-list {
    min-width: 380px;
    margin-left: 40px;
}

.list-event {
    /* cursor: pointer; */
    background-color: #ebebeb;
    width: 370px;
    padding: 10px 0 10px 20px;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    margin-bottom: 5px;
}

.list-event:hover {
    background-color: #f0cfa9;
}

.list-event-left {
    margin-right: 15px;
}

.list-event-left img {
    width: 75px;
    height: 75px;
}

.list-event-title {
    font-weight: 600;
    font-size: 1.1rem;
}

.list-event-text {
    font-size: 0.9rem;
}

.farms-ig {
    background-color: #1e2628;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.farms-ig-media-wrapper {
    max-width: 1300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ig-media-holder img {
    width: 300px;
    height: 300px;
    margin: 10px;
}

@media (max-width: 819px) {
    .farms-events {
        flex-direction: column;
    }

    #events-list {
        margin-left: 0px;
        margin-top: 40px;
    }
    .farms-banner h1 {
        font-size: 2.7rem;
    }

    .farms-hero-text h1 {
        font-size: 3rem;
    }
    .farms-hero-text h3 {
        font-size: 1.8rem;
    }
}

@media (max-width: 542px) {
    .farms-banner {
        height: 100px;
    }

    .farms-banner h1 {
        font-size: 2.2rem;
    }

    .farms-hero-text h1 {
        font-size: 2.5rem;
    }
}
