.tint-75 {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
}

.flex-center-v {
    display: flex;
    justify-content: center;
}

.flex-center-h {
    display: flex;
    align-items: center;
}

.flex-center-v-h {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}

/* for email validation */
.invalid-email {
    font-size: 14px;
    color: rgb(255, 109, 109);
}

.hidden {
    display: none;
}
