:root {
  --black: #1a1e1f;
  --green1: #0a7e64;
  --green2: #109977;
  --blue: #1c8aad;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
input,
button {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

input {
  background-color: rgb(235, 235, 235);
}

input:focus,
textarea:focus,
select:focus {
  background-color: white;
  outline: none;
}



a {
  text-decoration: none;
}

a:hover,
a svg:hover {
  transition: 0.2s all;
}

@media screen and (min-width: 1025px) {

header {
  height: 100%;
  width: 100%;
  /* position: fixed; Set the navbar to fixed position */
}

header #header-top-bar {
  min-height: 30px;
  min-width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1a1e1f;
  color: white;
}

#header-social-bar a {
  color: white;
}

#header-social-bar a svg:hover {
  color: var(--green2);
}

.header-icon {
  font-size: 120%;
  margin-left: 5px;
  margin-right: 5px;
}

.header-icon-search {
  font-size: 100% !important;
  margin-left: 10px;
  margin-right: 20px;
}

#header-search {
  margin: 2px 10px 2px 20px;
}

#header-search-bar {
  margin-bottom: 2px;
  padding: 2px 10px;
  border-radius: 100px;
  font-size: 12px;
  border: none;
}

#header-main-bar {
  min-height: 90px;
  min-width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1e1f;
  color: white;
}

#hamburger{
  display: none;
}

#header-main-bar .nav-link {
  color: white;
  font-weight: 500;
}

#header-main-bar .nav-link:hover {
  color: var(--green2);
}

#main-nav {
  width: 100%;
  height: 80px;
}

nav {
  width: 900px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
}

nav ul {
  width: 100%;
}

nav a {
  margin-right: 80px;
}

nav a:nth-of-type(3) {
  margin-right: 220px;
}

nav a:last-of-type {
  margin-right: 0;
}

div#main-nav nav a {
  display: inline;
  list-style-type: none;
  padding: 10px 10px;
  border-radius: 1px;
}

div#main-nav nav a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}
div#main-nav nav a:hover {
  color: var(--green1);
  background-color: white;
}

div#circle-img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 105px;
  height: 105px;
  background: var(--black);
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

div#circle-img h1{
  display: none;
}

div#sub-nav {
  width: 100%;
  height: 30px;
  background: white;
}

#header-bottom-bar {
  min-height: 35px;
  min-width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
  border-bottom: 1px solid var(--black);
}

#header-bottom-bar .nav-link {
  color: black;
  font-weight: 500;
  padding: 5px 5px;
}

#header-bottom-bar .nav-link:hover {
  color: var(--green1);
}

#main-body {
  min-width: 100vw;
  /* Padding to display below the entire fixed positioned 150px header */
  /* padding-top: 155px; */
}

#hero {
  background-image: url(../images/hero.jpeg);
  background-size: 100% contain;
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 70vh;
  max-width: 100%;
}

.tint {
  background-color: #00000080;
  height: 100%;
  width: 100%;
}

.hero-text-container {
  color: white;
  font-weight: 400;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.hero-text-container h1,
.hero-text-container h3 {
  font-weight: 400;
  margin-left: 2rem;
  margin-bottom: 50px;
}

.hero-text-container h3 {
  /* margin-top: 100px; */
}

.footer-container {
  width: 100vw;
  min-height: 60vh;
  color: white;
  background-color: var(--black);
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 20px 50px;
}

.footer-container a {
  color: white;
  text-decoration: none;
}

.footer-container ul {
  padding: 0;
  list-style-type: none;
}

.footer-container li {
  list-style-type: none;
  padding: 10px 5px;
}

.footer-section-1 {
  display: grid;
  grid-template-rows: 35% 50% 15%;
}

.footer-subscribe p {
  font-size: 1.3rem;
  padding: 20px 0;
}
.footer-subscribe input {
  font-size: 20px;
  padding: 10px 20px;
  width: 40%;
  border-radius: 5px;
  border: none;
}

.footer-subscribe button {
  font-size: 15px;
  font-weight: 700;
  margin-left: 10px;
  padding: 13px 20px;
  width: 50px;
  background-color: var(--green1);
  border-radius: 5px;
  color: white;
  border: none;
}

.footer-subscribe button:hover {
  background-color: var(--green2);
  cursor: pointer;
}

.footer-subscribe button:active {
  background-color: var(--green1);
}

.footer-links {
  display: grid;
  grid-template-columns: 30% 30%;
}

.footer-links a:hover {
  color: var(--green2);
}

.footer-copyright {
  padding-top: 20px;
}

.copyright-statement {
  font-size: 12px;
}

.footer-section-2 {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 30% 30% 40%;
}

.footer-icon-1 img {
  max-width: 130px;
  max-height: 130px;
  margin-bottom: 30px;
}
.footer-icon-2 img {
  max-width: 110px;
  max-height: 110px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.footer-social-icons {
  font-size: 175%;
  height: 100%;
}

.footer-social-icon svg:hover {
  color: var(--green2);
}

.footer-social-icons hr {
  max-width: 250px;
  margin: 0 0 20px 0;
}

.footer-social-icon {
  margin: 0 10px 30px 10px;
}

}

@media screen and (max-width: 1024px) {
  body {
    background: linear-gradient(180deg, rgba(6, 159, 96, 0.5) 0%, rgba(6, 159, 96, 0.58) 0%, rgba(6, 159, 96, 0.81) 0.01%, rgba(26, 139, 167, 0.5) 76.03%, rgba(26, 139, 169, 0.5) 76.04%, #1A8BA9 100%);
    margin: 0;
    font-family: Montserrat;
  }

  header{
  max-width:100vw;
  background-color: rgb(26, 30, 31);
  font-size: 12px;
  top: 0;
  position: sticky;
  overflow: none;
  z-index: 1;
  margin: auto;
}

/*Gets rid of the topbar for mobile devices*/
#header-top-bar{
  display: none;
}

nav{
  text-align: center;
  width: 100vw;
}

nav a:hover{
  color: rgb(	82, 190, 151);
}

#header-bottom-bar{
  display: flex;
  position: fixed;
  overflow: hidden;
  bottom:0;
  background-color: rgb(26, 30, 31);
  width: 100vw;
  /* height: 100px; */
  height: 16vh;
}

#header-bottom-bar img{
  /* width: 70px; */
  display: block;
  height: 30px;
  margin-bottom: 10px;
}

#header-bottom-bar a{
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 10px;
  text-align: center;
  align-items: center;
  margin: auto;
}

#header-main-bar{
  width: 100vw;
}

/*Organizes main nav vertically for mobile devices*/
#main-nav nav{
  padding: 10px 0 10px 0;
  display: none;
  flex-direction: column;
  justify-content: center;
}

nav a{
  color: white;
  text-decoration: none;
}

#main-nav nav a{
  padding: 20px 0 20px 0;
}

#circle-img {
  display: inline-flex;
  text-align: center;
}

#circle-img img{
  width: 70px;
  height: 70px;
  margin-top: 10px;
  margin-left: 0;
}

#circle-img h1{
  color: rgb(	82, 190,	151);
  margin: auto;
  left: 0;
  right: 0;
  align-items: center;
}


/*Creates Hamburger menu for mobile navbar*/
div#hamburger .toggle-button{
  display:flex;
  position: absolute;
  margin: 0;
  top: 2em;
  right: 1em;
  flex-direction:column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

div#hamburger .toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/*Hero*/
#hero{
  /* display: none; */
  background-image: url(../images/hero.jpeg);
  background-size: 100% contain;
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 70vh;
  max-width: 100%;
}

.tint {
  background-color: #00000080;
  height: 100%;
  width: 100vw;
  left: 0;
  right: 0;
}

.hero-text-container {
  color: white;
  font-weight: 400;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.hero-text-container h1,
.hero-text-container h3 {
  font-weight: 400;
  margin-left: 0.5rem;
  margin-bottom: 50px;
}

main{
  margin-bottom: 20vh;
}

/*Footer*/
footer{
  display:flex;
  text-align: center;
  position: relative;
  background-color: rgb(26, 30, 31);
  width: 100vw;
  bottom: 15vh;
  right: 0;
  margin: auto;
}

footer a, label, p{
  color: white;
  text-decoration: none;
}

.footer-subscribe p {
  font-size: 1.3rem;
  padding: 20px 0;
}
.footer-subscribe input {
  font-size: 20px;
  padding: 10px 20px;
  width: 70%;
  border-radius: 5px;
  border: none;
}

.footer-subscribe button {
  font-size: 15px;
  font-weight: 700;
  margin-left: 10px;
  padding: 13px 20px;
  width: 50px;
  background-color: var(--green1);
  border-radius: 5px;
  color: white;
  border: none;
}

.footer-subscribe button:hover {
  background-color: var(--green2);
  cursor: pointer;
}

.footer-subscribe button:active {
  background-color: var(--green1);
}

div.footer-links-col-1 ul{
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: 120px;
}

div.footer-links-col-2 ul{
  margin-top: -60px;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: 120px;
}
  
div.footer-links li{
  list-style: none;
  padding: 10px 0 10px 0;
}
  

.footer-icon-1, .footer-icon-2{
  display: inline-flex;
  flex-direction: row;
  position: relative;
  height: 70px;
  width: 110px;
  padding-top: 10px;
}

.footer-icon-1 img{
  justify-content: center;
  align-items: right;
}

.footer-icon-2 img{
  padding-left: 30px;
  justify-content: center;
  align-items: right;
}

span.copyright-statement{
  bottom: 0;
  position: relative;
  color: white;
}

.footer-links{
  display: grid;
  grid-template-columns: 100px 100px;
  grid-row: auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px 0;
  }

.footer-social-icons{
  position: relative;
  width: 100vw;
  margin: auto;
}

.footer-social-icons svg{
  width: 2rem;
  height: 2rem;
}

}
